<!DOCTYPE html>
<html>

<head>
    <title>Chatroom</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
</head>

<body>
    <h2 style="text-align: center;margin-bottom: 10px">Chatroom!</h2>
    <div class="connectbar">
        <div class="connectButton">
            <a id="connect" href="#" class="btn btn-primary btn-sm active">Connect</a>
        </div>
        <div class="alert">
            <h4 id="status" class="inactive">Offline
        </h4>
        </div>
        <div class="welcome">
            <div class="welcomeLine"></div>
        </div>
    </div>
    <div class="col-7 px-0">
        <div class="log box public">
<!--        <div class="groupchatTB">-->
<!--            <h4>Public Chat </h4>-->
<!--            <h3 id="groupcount" style="display:inline;margin-left: 40px; color:#fff; border-radius: 25%;background: #41C197;width: 40px;height: 40px;">0</h3>-->
<!--            <h3 id="grouppeople" style="display:inline;color:#000;font-size: 16px;font-weight: 400">&nbsp;online-->
<!--            </h3>-->
<!--        </div>-->
        <div class="groupchatCB chatbox" id="groupCB">
            <ul class="messages"></ul>
        </div>
<!--            <div class="px-4 py-5 chat-box bg-white" id="groupCB">-->
<!--&lt;!&ndash;                <ul class="messages"></ul>&ndash;&gt;-->
<!--            </div>-->
        <form class="publicSend" style="display: inline;">
            <input type="text" id="publictext" autocomplete="off" placeholder="type..." data="public" class="inpbox groupchatCBinp">
            <input type="submit" value="send" id="publicsendbtn" class="btn btn-info">
        </form>
        </div>
    </div>

    
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/sockjs/0.3/sockjs.min.js"></script>
<script src="../static/js/date.js"></script>
<script src="../static/js/script.js"></script>

</html>
